table {
    margin: 100 100;
}

th {
    font-family:'Roboto', sans-serif;
    font-size: 100px;
}

td {
    width: 100px;
    height: 100px;
}

.TOP-LEFT{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    height: 100px;

}
.MID-LEFT{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    height: 100px;
}
.BOT-LEFT{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    height: 100px; 
}
.TOP-MID{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    height: 100px;
}
.MID-MID{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    height: 100px; 
}
.BOT-MID{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    height: 100px;  
}
.TOP-RIGHT{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    height: 100px;  
}
.MID-RIGHT{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    height: 100px; 
}
.BOT-RIGHT{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    height: 100px; 
}
